/.idea/*
/tests/.cache/*
/__pycache__/conftest.cpython-27-PYTEST.pyc
/core/__pycache__/browser_wrapper.cpython-36.pyc
/core/__pycache__/conditions.cpython-36.pyc
/core/__pycache__/config.cpython-36.pyc
/core/__pycache__/elements.cpython-36.pyc
/core/__pycache__/etender_data.cpython-36.pyc
/ApiTests/__pycache__/BaseApiTestLogic.cpython-36.pyc
/ApiTests/Divisions/.cache/v/cache/lastfailed
/ApiTests/__pycache__/BaseApiTestLogic.cpython-36.pyc
/ApiTests/__pycache__/BaseApiTestLogic.cpython-36.pyc
/ApiTests/__pycache__/app_config.cpython-37.pyc
/ApiTests/__pycache__/BaseApiTestLogic.cpython-36.pyc
/ApiTests/__pycache__/BaseApiTestLogic.cpython-37.pyc
/ApiTests/__pycache__/etender_data_api.cpython-37.pyc
/UiTests/core/__pycache__/browser_wrapper.cpython-37.pyc
/UiTests/core/__pycache__/conditions.cpython-37.pyc
/UiTests/core/__pycache__/config.cpython-37.pyc
/UiTests/core/__pycache__/elements.cpython-37.pyc
/UiTests/core/__pycache__/etender_data.cpython-37.pyc
/UiTests/tests/__pycache__/base_test_logic.cpython-37.pyc
/UiTests/tests/__pycache__/temp_test_data.cpython-37.pyc
/UiTests/tests/__pycache__/test_Prozorro.cpython-37-PYTEST.pyc
/UiTests/tests/__pycache__/test_Rialto.cpython-37-PYTEST.pyc
/UiTests/tests/__pycache__/test_RialtoAuction.cpython-37-PYTEST.pyc
/ApiTests/__pycache__/BaseApiTestLogic.cpython-36.pyc
